<footer class="footer footer-static footer-light">
  <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; <span id="year"></span><a class="ms-25" href="https://www.cqlsys.com/" target="_blank">Cqlsys Technologies</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span></p>
</footer>

<script>
  const d = new Date();
  let year = d.getFullYear();
  document.getElementById("year").innerHTML = year;
</script>