<section class="app-user-view">
  <div class="app-user-view">
    <div class="user-info-wrapper">
      <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-9 col-lg-8 col-md-7">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <img class="img-fluid rounded" src="../../../app-assets/images/avatars/7.png" height="104" width="104" alt="User avatar">
                      <div class="d-flex flex-column ms-1">
                        <div class="user-info mb-1">
                          <h4 class="mb-0"><%= user.firstName  %> <%= user.lastName  %></h4>
                          <span class="card-text"><%= user.email%></span>
                        </div>
                        <!-- <div class="d-flex flex-wrap">
                      <a href="./app-user-edit.html" class="btn btn-primary waves-effect waves-float waves-light">Edit</a>
                      <button class="btn btn-outline-danger ms-1 waves-effect">Delete</button>
                    </div> -->
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-user"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Username</span>
                      </div>
                      <p class="card-text  mb-0">eleanor.aguilar</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-check-circle"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Status</span>
                      </div>
                      <p class="card-text mb-0">Active</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-star"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Role</span>
                      </div>
                      <p class="card-text mb-0">Admin</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-flag"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Country</span>
                      </div>
                      <p class="card-text mb-0">England</p>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i class="me-1 fs-4 ph-duotone ph-phone"></i>
                        <span class="card-text user-info-title fw-bold mb-0">Contact</span>
                      </div>
                      <p class="card-text mb-0">(123) 456-7890</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->


      </div>
    </div>
  </div>

</section>